<script>
	import FetchCloth from '$lib/components/fetchCloth.svelte';
</script>

<h1>Form to save your cloth</h1>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>

<FetchCloth />
