<script>
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();
	let clothName = '';
	let clothSize = '';
	let clothColor = '';
	let clothQuantity = '';

	function handleCreateCloth() {
		dispatch('createClick', {
			name: clothName,
			size: clothSize,
			color: clothColor,
			quantity: clothQuantity
		});

		reset();
	}

	function reset() {
		clothName = '';
		clothSize = '';
		clothColor = '';
		clothQuantity = '';
	}
</script>

<hr />
Add a new one!
<div>
	<div>Name</div>
	<input type="text" placeholder="type your name" bind:value={clothName} />
	<div>Size</div>
	<input type="text" placeholder="type your size" bind:value={clothSize} />
	<div>Color</div>
	<input type="text" placeholder="type your color" bind:value={clothColor} />
	<div>Quantity</div>
	<input type="text" placeholder="type your quantity" bind:value={clothQuantity} />
	<button on:click={handleCreateCloth}>Create</button>
</div>
