<script>
	import { onMount } from 'svelte';
	import ClothDetails from '$lib/components/clothDetails.svelte';
	import FetchButton from '$lib/components/fetchButton.svelte';
	import CreateCloth from '$lib/components/createCloth.svelte';

	import { clothStore } from '$lib/stores/clothStore';

	let clothes = [];
	$: totalClothes = clothes.length;
	let currentPage = 0;

	async function loadAll(event) {
		if (event.detail.pageUp) {
			currentPage++;
		} else {
			currentPage--;
		}
		const response = await fetch(
			`http://127.0.0.1:8090/api/collections/cloths/records?page=${currentPage}`
		)
			.then((res) => res.json())
			.catch((err) => {
				console.log('Error loading all clothes', err);
				return [];
			});
		clothStore.set(response.items);
	}

	async function createCloth(event) {
		try {
			const response = await fetch(`http://127.0.0.1:8090/api/collections/cloths/records`, {
				method: 'POST', // DELETE, PATCH, OPTION, PUT, HEADER
				headers: {
					Accept: 'application/json',
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(event.detail)
			});
			const newCloth = await response.json();
			// Before
			// clothStore.update((clothArr) => [...clothArr, newCloth]);
			// Later: Custom store
			clothStore.append(newCloth);
		} catch (err) {
			console.log('Error loading all clothes', err);
			return;
		}
	}
  async function increaseLastQuantity() {
		try {
      let cloth = clothes[clothes.length -1];
			const response = await fetch(`http://127.0.0.1:8090/api/collections/cloths/records/${cloth.id}`, {
				method: 'PATCH', 
				headers: {
					Accept: 'application/json',
					'Content-Type': 'application/json'
				},
        body: JSON.stringify({quantity: cloth.quantity + 1})
			});
			const newCloth = await response.json();
			clothStore.pop();
			clothStore.append(newCloth);
		} catch (err) {
			console.log('Error updating cloth ' + cloth.id, err);
			return;
		}
  }

	onMount(() => loadAll({ detail: { pageUp: true } }));

	function clearAll() {
		clothStore.reset();
	}
	function removeLast() {
		clothStore.pop();
	}


	// I want to visualize the content of this value.
	clothStore.subscribe((value) => {
		clothes = value;
	});
</script>

<h2>Fetch cloth</h2>

<div>
	<FetchButton isUp={true} label={'next'} on:fetchClick={loadAll} />
	<FetchButton isUp={false} label={'previous'} on:fetchClick={loadAll} />
</div>

<div>
	Page {currentPage}. Found {totalClothes} clothes
</div>

{#if clothes.length > 0}
	{#each clothes as cloth (cloth.id)}
		<ClothDetails
			name={cloth.name}
			size={cloth.size}
			color={cloth.color}
			quantity={cloth.quantity}
		/>
	{/each}
{:else}
	<p>No elements to show</p>
{/if}

<button on:click={() => clearAll()}>Clear all</button>
<button on:click={() => removeLast()}>Remove last</button>

<CreateCloth on:createClick={createCloth} />

<hr />

<div>
  <div>Increase last added cloth quantity </div>
  <button on:click={increaseLastQuantity}>GO</button>
</div>
