<script>
	import { createEventDispatcher } from 'svelte';
	export let isUp;
	export let label;
	const dispatch = createEventDispatcher();

	function loadAll() {
		dispatch('fetchClick', { hola: 'jose', pageUp: isUp });
	}
</script>

<button on:click={loadAll}>
	Get {label}
</button>
